.footer {
  background-color: #BB2339;
}

.footer-section {
  margin-left: 120px;
  margin-right: 120px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 20px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-contact h1 {
  margin-bottom: 20px;
  margin-top: 120px;
  font-size: 32px;
  color: #FFFFFF;
}

.footer-contact span {
  margin-top: 10px;
  font-size: 16px;
  color: #FFFFFF;

}

.footer-logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-logo img {
  margin-bottom: 30px;
  margin-top: 120px;
  /* width: 300px; */
  height: 117px;
}

.footer-logo p {
  font-size: 16px;
  color: #FFFFFF;

}

.footer-hours {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-hours h1 {
  margin-bottom: 20px;
  margin-top: 120px;
  font-size: 32px;
  color: #FFFFFF;
}

.footer-hours span {
  margin-top: 10px;
  font-size: 16px;
  color: #FFFFFF;
}

.footer-icon {
  margin-top: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 20px;
}

.footer-icon h3 {
  color: #FFFFFF;
}

.footer-title {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}

.footer-title p {
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}
